<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/Icon.svg" type="image/svg">
    <title>Futurense - Idealizando o futuro </title>
    <link rel="stylesheet" href="css/style-Loja.css">
</head>

<body>

    <!-- cabeçalho -->
    <th:block th:include="header"></th:block>

    <!-- Corpo -->
    <main id="content">
        <section class="menu-showblack">
            <P>Loja</P>
        </section>

        <section class="menu-body">
            <div class="card">
                <div id="circle"></div>
                <div class="text-content">
                    <span class=card-title><strong><a href="Forms.html">Placa Circular</a></strong></span>
                </div>
            </div>
            <div class="card">
                <div id="octagon"></div>
                <div class="text-content">
                    <span class=card-title><strong><a href="Forms.html">Placa Octagon</a></strong></span>
                </div>
            </div>
            </div>
            <div class="card">
                <a href="Forms.html">
                    <div id="square">
                        <p>Seu texto aqui</p>
                    </div>

                    <div class="text-content">
                        <span class=card-title><strong>Placa Quadrada</strong></span>
                    </div>
                </a>
            </div>
            <div class="card">
                <div class="card-retangular">
                    <div id="rectangle">Texto aqui</div>
                </div>
                <br>
                <div class="text-content">
                    <span class=card-title><strong><a href="Forms.html">Placa retangular</a></strong></span>
                </div>
            </div>
            <div class="card">
                <div class="card-Horizontal">
                    <img src="img/square.svg" alt="TEST">
                </div>
                <br>
                <div class="text-content">
                    <span class=card-title><strong><a href="Forms.html">Placa retangular Horizontal</a></strong></span>
                </div>
            </div>
            <div class="card">
                <div class="card-diamond">
                    <div id="diamond"></div>
                </div>
                <br>
                <div class="text-content">
                    <span class=card-title><strong><a href="Forms.html">Placa Diamante</a></strong></span>
                </div>
            </div>
            </div>
        </section>
    </main>

    <!-- Rodapé -->
    <th:block th:include="footer"></th:block>

</body>

</html>